<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="invoice_items.item.<%%VALUE(ID)%%>" valign="top" width="350" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(Item)%%></div></td>
		<td id="invoice_items.unit_price.<%%VALUE(ID)%%>" valign="top" width="80" class="TableBodyHighlightedNumeric"><div class="TableBodyHighlightedNumeric" style="padding: 0;"><%%VALUE(Unit price)%%></div></td>
		<td id="invoice_items.qty.<%%VALUE(ID)%%>" valign="top" width="60" class="TableBodyHighlightedNumeric"><div class="TableBodyHighlightedNumeric" style="padding: 0;"><%%VALUE(Qty)%%></div></td>
		<td id="invoice_items.tax.<%%VALUE(ID)%%>" valign="top" width="60" class="TableBodyHighlightedNumeric"><div class="TableBodyHighlightedNumeric" style="padding: 0;"><%%VALUE(Tax %)%%></div></td>
		<td id="invoice_items.price.<%%VALUE(ID)%%>" valign="top" width="80" class="TableBodyHighlightedNumeric"><div class="TableBodyHighlightedNumeric" style="padding: 0;"><%%VALUE(Price)%%></div></td>
