<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="invoices.code.<%%VALUE(ID)%%>" valign="top" width="60" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(Code)%%></div></td>
		<td id="invoices.status.<%%VALUE(ID)%%>" valign="top" width="70" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(Status)%%></div></td>
		<td id="invoices.date_due.<%%VALUE(ID)%%>" valign="top" width="100" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(Date due)%%></div></td>
		<td id="invoices.client.<%%VALUE(ID)%%>" valign="top" width="250" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(Client)%%></div></td>
		<td id="invoices.client_contact.<%%VALUE(ID)%%>" valign="top" width="200" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(Client contact)%%></div></td>
		<td id="invoices.client_phone.<%%VALUE(ID)%%>" valign="top" width="100" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(Client phone)%%></div></td>
		<td id="invoices.total.<%%VALUE(ID)%%>" valign="top" width="70" class="TableBodyHighlightedNumeric"><div class="TableBodyHighlightedNumeric" style="padding: 0;"><%%VALUE(Total)%%></div></td>
