<html>
<script src="jquery.js"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCUAAbIZnuyTSK926w0O0IU7HHzIemEbLo"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.24/angular.min.js"></script>
 <script src="app4.js"></script> 

<body>
	 <div ng-app='angularPostPHP' ng-controller='loginCtrl'> 
		<input class="form-control" value = "1234" type="text" ng-model="ide" placeholder="Enter Your Key"><br>
		<button class="btn btn-success" ng-click="login()">UPDATE</button><br>
		<span>{{responseMessage}}</span>
	</div>
<hr />
<script>
  
</script>
<div id="dvMap" style="width: 900px; height: 700px">

</div>
</body>
</html>